body 
{
font-family: "Asap" cursive, sans-serif, Arial; 
}

.fullWidth 
{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.container
{
	margin: 0 auto;
	width: 100%;
}

/* prevents moment of unstylized content */
.no-js .top-bar 
{
  display: none;
}

@media screen and (min-width: 40em) {

  .no-js .top-bar 
  {
    display: block;
  }

  .no-js .title-bar 
  {
    display: none;
  }
}
/* end block of stylization fix*/