body 
{
font-family: 'Raleway' cursive, sans-serif; 
}

/* Mobile Nav Styling */
.title-bar {
    padding: 1.5rem;
    background: #313131;
    color: #fefefe;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
  }

  .logoMobile
  {

  width: 300px;
  margin-left: 40px;

  }

  .menu-icon
  {
    width: 40px;
  }

  /* End of Mobile Nav Styling*/

.hide
{
  display:none;
}

.fullWidth 
{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.container
{
  margin: 0 auto;
  width: 100%;
}

/*  Header Styling   */

header
{
  margin-bottom: 50px;
}

.logo 
{
  height:55px;
  margin: 15px;
}

.top-bar, .top-bar ul 
{
    background-color: #313131;
}

.top-bar li a
{
  color: #d4d4d4;
  font-family: 'Raleway';
  font-size: 40px;
  text-transform: uppercase;
  margin: 5px;

}


.top-bar-right
{
  margin-right: 30px;
}


.top-bar input 
{
  max-width: 250px;
  margin-right: 60px;
  border-radius: 100px;
}

.search
{

font-size: 30px;
margin-left: -65px;
margin-top: 4px;
position: absolute;
float: right;
cursor: pointer;
}


/*  End of Header Styling   */


/* Main Page Styling */
.video 
{
  background-color: black;
  height: 450px;
  border: solid #313131 6px;
}


hr 
{
  border: 3px solid #31313136;
  margin-top: 0px;
  margin-bottom: 20px;
}


.videoPara 
{
  font-size: 20px;
  margin-top: 18px;
}

.recentArticlesHomeScroll
{
  overflow-x: hidden;
  height: 1000px;
}

/* All of the Dark Header Titles Sharing the same Styling*/
.videoHighlights, .recentArticlesHome h2, .topArticlesHome h2, .musicArchive h2
{
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
  color: #fff;
  background-color: #313131;
  padding: 15px;

}

.recentArticlesHome h2
{
  margin-bottom: 20px;
}

.musicArchive h2
{
  margin-bottom: 20px;
}

.topArticlesHome 
{
  position: absolute;
  margin-top: -400px;
}

.topArticlesHome h2 
{
  margin-bottom: 40px;
}

.topArticlesHome article
{
  border: solid black 4px;
}

.topArticlesHome article h3 
{
  font-size: 24px;
  margin-top:8px;
  text-align: center;
  font-family: 'Oswald';
  padding: 5px;
  color: black;
}


.recentArticlesHome article img
{
  padding: 20px;
}

/* Scroll Bar Styling */

::-webkit-scrollbar 
{
  width: 10px;
}

::-webkit-scrollbar-track 
{
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb 
{
  background: #a8a8a8; 
}

.musicArticleArchive
{
  float: left;
  padding: 20px;
}


/* END of Scroll Bar Styling */


/*  
============================  MEDIA QUERIES =========================
========================================================================= */

/*spot fix to help load times*/
@media screen and (min-width: 640px) {

  .no-js .top-bar 
  {
    display: block;
  }

  .no-js .title-bar 
  {
    display: none;
  }
}



/*more spot fixes for scaling*/
@media screen and (max-width: 1750px) {

  .top-bar li a
  {
    color: #d4d4d4;
    font-family: 'Raleway';
    font-size: 30px;
    text-transform: uppercase;
    margin: 5px;

  }

    .videoHighlights, .recentArticlesHome h2, .topArticlesHome h2
{
  font-size: 30px;
}
}


/*more spot fixes for scaling*/
@media screen and (max-width: 1538px) {

  .logo 
  {
    height:35px;
  }  

  .top-bar li a
  {
    font-size: 20px;
    font-weight: bolder;
  }

  .top-bar input 
  {
    max-width: 150px;
    margin-right: 60px;
    border-radius: 100px;
  }

  .search
  {
    margin-left: -100px;
  }
}

/*more spot fixes for scaling*/
@media screen and (max-width: 1185px) {

  .logo 
  {
    height:25px;
  }  

  .top-bar li a
  {
    font-size: 18px;
    font-weight: bolder;
  }

  .recentArticlesHomeScroll
  {
    overflow-x: hidden;
    height: 400px;
    margin-bottom: 50px;
  }

  .topArticlesHome 
  {
   position: absolute;
   margin-top: 0px;
  }

}

/* break point for mobile menu into tablet*/
@media screen and (max-width: 1023px) {

  .recentArticlesHome 
  {
    margin-top: 40px;
    display: block;
  }
  .videoHighlights, .recentArticlesHome h2, .topArticlesHome h2
{
  font-size: 30px;
}

.logo 
{
  display: none;
}



}

/*Search bar gone on smaller sizes to fix sizing errors*/
@media screen and (max-width: 775px) {


  .top-bar li a
  {
    font-size: 15px;
    font-weight: bolder;
  }

  .top-bar input 
  {
    max-width: 100%;
    text-align: center;
    margin-right: 30px;
    border-radius: 100px;
  }

  .search
  {
    display: none;
  }

}

@media screen and (max-width: 730px) {


  .top-bar input 
  {
    display: none;
  }

}




/* end block of stylization fix*/